header p {
    text-align: center;
    color: brown;
    background-color: bisque;
    padding: 0.5%;
    margin-top: -0.5%;
    width: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    max-width: 85%;
    margin: 0 auto;
    display: flex; /* 가로로 배치 */
}

nav ul li a {
    text-decoration: none;
}

nav ul li:not(:first-child) {
    margin-left: 3em; /* 나머지 li 요소들의 왼쪽 간격 조정 */

    margin-right: 3em; /* 간격 조정 (1em = 현재 폰트 크기의 0.5배) */
    border: none; /* 외곽선 제거 */
    text-decoration-line: none;
    padding-top: 3em;
}

nav ul li:first-child a {
    display: block;
    width: 8em; /* 이미지 너비 조정 (원하는 크기로 수정) */
    height: 8em; /* 이미지 높이 조정 (원하는 크기로 수정) */
    padding-left: 10%;
    margin-right: 3em;
    background-image: url('./images/main-btn-img.png'); /* 이미지 경로 지정 */
    background-size: cover;
}

.main-image-container {
    display: flex;
    justify-content: center;
}

.main-image-container img {
    max-width: 85%;
    max-height: 40%;
}

.products-bar {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 2px;
}

.products-bar ul {
    list-style: none;
    display: flex;
}

.products-bar li {
    font-size: 0.8em;
    padding-right: 2%;
}

.searchbar-container {
    margin-left: auto;
}

.search-btn {
    background: none; /* 배경색 제거 */
    border: none;
    cursor: pointer;
}

.search-btn img {
    width: 1.1em;
    height: 1.1em;
}

footer {
    display: flex;
    padding-top: 10%;
}

footer p {
    margin-left: 7.5%;
    font-size: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 한 줄에 다섯 개의 상품 목록 */
    gap: 3%; /* 상품 목록 간의 간격 조정 */
    max-width: 85%;
    margin: 0 auto;
    justify-items: center;
}

.product-item {
    border: none;
    padding: 2%;
}

.product-item a {
    text-decoration: none;
    color: black;
}

.product-image img {
    max-width: 100%;
    height: 100%;
    justify-content: center;
}

.product-details {
    width: 100%;
}

.product-name {
    font-size: 0.9em;
    margin: 10px 0;
}

.product-price {
    font-size: 0.8em;
    margin: 5px 0;
}

.add-to-cart {
    padding-top: 5%;
    border: none;
    background: none;
    cursor: pointer;
}

.add-to-cart img {
    max-width: 1.5em;
    height: 1.5em;
}